:root {
    /* html */
    --html-margin: 0;

    /* body */
    --body-maring: 0;
    --body-padding: 0;
    --body-background-color: #222;

    /* a */
    --a-display: block;
    --a-text-align: center;
    --a-text-decoration: none;
    --a-line-height: 60px;
    --a-margin: 0;
    --a-padding-left: 10px;
    --a-padding-right: 10px;
    

    /* main-links */
    --main-links-color: white;
    --main-links-hover-color: #edac00;
    --main-links-active-color: #b18200;
    --main-links-size: 18px;

    /* navbar */
    --navbar-display: flex;
    --navbar-justify-content: space-evenly;
    --navbar-align-items: center;
    --navbar-background-color: #333;
    --navbar-box-shadow: 2px 1px 2px #111;
    --navbar-margin-bottom: 40px;

    /* nav-links */
    --nav-links-display: flex;
    --nav-links-justify-content: space-between;
    --nav-links-flex-grow: 0.05;
    --nav-links-align-items: center;
    --nav-links-font-family: monospace;
    font-family: monospace;

    /* nav-logo */
    --nav-logo-display: flex;
    --nav-logo-width: 200px;
    --nav-logo-height: auto;
    --nav-logo-hover-opacity: 80%;

    /* menu-button */
    --menu-button-display: none;

    /* nav-mobile */
    --nav-mobile-display:none;

    /* free-games-button */
    --free-games-button-display: flex;
    --free-games-button-background-color: #edac00;
    --free-games-button-font-family: Helvetica;
    --free-games-button-font-weight: bold;
    --free-games-button-font-size: 21px;
    --free-games-button-hover-color: white;
    --free-games-button-hover-background-color: #ffbb00;
    --free-games-button-focus-back-background-color: #a77a00;
    --free-games-button-border-radius: 15px;
    --free-games-button-height: 45px;
    --free-games-button-align-items: center;

    /* content */
    --content-display:flex;
    --content-flex-direction: column;
    --content-align-items: center;
    --content-justify-content: space-evenly;

    /* heading_h1 */
    --heading_h1-display: flex;
    --heading_h1-text-align: center;
    --heading_h1-width: fit-content;
    --heading_h1-margin-left: auto;
    --heading_h1-margin-right: auto;
    --heading_h1-padding-left: 20px;
    --heading_h1-padding-right: 20px;
    --heading_h1-border-radius: 15px;
    --heading_h1-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --heading_h1-color: white;
    --heading_h1-background-color: #333;

    /* games_grid */
    --games_grid-display: flex;
    --games_grid-margin-left: auto;
    --games_grid-margin-right: auto;
    --games_grid-max-width: 1200px;
    --games_grid-margin-top: 30px;
    --games_grid-flex-wrap: wrap;
    --games_grid-justify-content: center;

    /* #games_grid > .game */
    --game-overflow-y: hidden;
    --game-background-color: #333;
    --game-margin-right: 10px;
    --game-margin-bottom: 10px;
    --game-border-radius: 15px;
    --game-box-shadow: 2px 1px 2px #111;

    /* game-image */
    --game-image-width: 260px;
    --game-image-height: 100px;
    --game-image-background: transparent no-repeat center;
    --game-image-background-size: cover;

    /* game-title */
    --game-title-overflow: hidden; 
    --game-title-text-overflow: ellipsis;
    --game-title-white-space: nowrap;
    --game-title-line-height: 30px;
    --game-title-width: 240px;

    --game-title-margin: 0;
    --game-title-padding: 10px;
    --game-title-color: white;
    --game-title-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* game-link-button */
    --game-link-button-display: flex;
    --game-link-button-align-items: center;
    --game-link-button-justify-content: center;
    --game-link-button-background-color: rgb(0, 120, 242);
    --game-link-button-height: 40px;
    --game-link-button-font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* posts */
    --posts-display: flex;
    --posts-flex-direction: column;

    /* post */
    --post-display: flex;
    --post-flex-direction: column;
    --post-margin-top: 40px;
    --post-background-color: #333;
    --post-border-radius: 15px;
    --post-padding: 10px;

    /* h2 */
    
    --h2-font-family:Georgia, 'Times New Roman', Times, serif;

    /* post-image */
    --post-image-width: 700px;
    --post-image-border-radius: 15px;

    /* warning-message */
    --warning-message-color: white;
    --warning-message-margin: 20px;
    --warning-message-text-align: center;
    --warning-message-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --warning-message-font-size: 20px;

    /* wrapper */
    --wrapper-display: flex;
    --wrapper-padding: 10px;
    --wrapper-margin-left: auto;
    --wrapper-margin-right: auto;
    --wrapper-flex-wrap: wrap;
    --wrapper-align-items: center;
    --wrapper-justify-content: center;
    --wrapper-background-color: #333;
    --wrapper-max-width: 1020px;
    --wrapper-text-align: center;
    --wrapper-border-radius: 20px;
    --wrapper-margin-bottom: 40px;

    /* wrapper-div */
    --wrapper-div-flex: 1 1 100px;

    /* grid-box */
    --grid-box-width: 510px;

    /* grid-box-hover */
    --grid-box-hover-opacity: 80%;
}

html {
    margin: var(--html-margin);
}

body {
    margin: var(--body-maring);
    padding: var(--body-padding);
    background-color: var(--body-background-color);
}

a {
    display: var(--a-display);
    text-align: var(--a-text-align);
    text-decoration: var(--a-text-decoration);
    margin: var(--a-margin);

    padding-left: var(--a-padding-left);
    padding-right: var(--a-padding-right);
    color: var(--main-links-color);
    font-size: var(--main-links-size);
    line-height: var(--a-line-height);
}

a:hover {
    color: var(--main-links-hover-color);
}
a:active {
    color: var(--main-links-active-color);
}

#navbar { 
    display: var(--navbar-display);
    justify-content:var(--navbar-justify-content);
    align-items: var(--navbar-align-items);
    background-color: var(--navbar-background-color);
    box-shadow: var(--navbar-box-shadow);
    margin-bottom: var(--navbar-margin-bottom);
}

#nav-links {
    display: var(--nav-links-display);
    justify-content: var(--nav-links-justify-content);
    align-items: var(--nav-links-align-items);
    font-family: var(--nav-links-font-family);
    font-size: var(--nav-links-font-size);
}

#nav-logo {
    display: var(--nav-logo-display);
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
}

#nav-logo:hover {
    opacity: var(--nav-logo-hover-opacity);
}

#menu-button {
    display: var(--menu-button-display);
}

#nav-mobile {
    display: var(--nav-mobile-display);
}

#free-games-button {
    display: var(--free-games-button-display);
    background-color: var(--free-games-button-background-color);
    font-weight: var(--free-games-button-font-weight);
    font-family:var(--free-games-button-font-family);
    font-size: var(--free-games-button-font-size);
    border-radius: var(--free-games-button-border-radius);
    height: var(--free-games-button-height);
    align-items: var(--free-games-button-align-items);
}

#free-games-button:hover {
    color: var(--free-games-button-hover-color);
    background-color: var(--free-games-button-hover-background-color);
}

#free-games-button:focus {
    background-color: var(--free-games-button-focus-back-background-color);
}


/* free games grid */
.content {
    display: var(--content-display);
    flex-direction: var(--content-flex-direction);
    align-items: var(--content-align-items);
    justify-content: var(--content-justify-content);
}

.heading_h1 {
    display: var(--heading_h1-color);
    text-align: var(--heading_h1-text-align);
    width: var(--heading_h1-width);
    margin-left: var(--heading_h1-margin-left);
    margin-right: var(--heading_h1-margin-right);
    padding-left: var(--heading_h1-padding-left);
    padding-right: var(--heading_h1-padding-right);
    border-radius: var(--heading_h1-border-radius);
    font-family: var(--heading_h1-font-family);

    color: var(--heading_h1-color);
    background-color: var(--heading_h1-background-color);
}

#games_grid {
    display: var(--games_grid-display);
    margin-left: var(--games_grid-margin-right);
    margin-right: var(--games_grid-margin-right);
    max-width: var(--games_grid-max-width);
    margin-top: var(--games_grid-margin-top);
    flex-wrap: var(--games_grid-flex-wrap);
    justify-content: var(--games_grid-justify-content);
}

#games_grid > .game {
    overflow-y: var(--game-overflow-y);
    background-color: var(--game-background-color);
    margin-right: var(--game-margin-right);
    margin-bottom: var(--game-margin-bottom);
    border-radius: var(--game-border-radius);
    box-shadow: var(--game-box-shadow);
}

.game-image {
    width: var(--game-image-width);
    height: var(--game-image-height);
    background: var(--game-image-background);
    background-size: var(--game-image-background-size);
}

.game-title {
    overflow: var(--game-title-overflow); 
    text-overflow: var(--game-title-text-overflow);
    white-space: var(--game-title-white-space);
    line-height: var(--game-title-line-height);
    width: var(--game-title-width);

    margin: var(--game-title-margin);
    padding: var(--game-title-padding);
    color: var(--game-title-color);
    font-family:var(--game-title-font-family);
}

.game-link-button {
    display: var(--game-link-button-display);
    align-items: var(--game-link-button-align-items);
    justify-content: var(--game-link-button-justify-content);
    background-color: var(--game-link-button-background-color);
    height: var(--game-link-button-height);
    font-family:var(--game-link-button-font-family);
}


/* posts */
.posts {
    display: var(--posts-display);
    flex-direction: var(--posts-flex-direction);
}

.post {
    display: var(--post-display);
    flex-direction: var(--post-flex-direction);
    margin-top: var(--post-margin-top);
    background-color: var(--post-background-color);
    border-radius: var(--post-border-radius);
    padding: var(--post-padding);
}

h2 {
    font-family: var(--h2-font-family);
    font-size: 1.1em;
}

.post-image {
    width: var(--post-image-width);
    border-radius: var(--post-border-radius);
}


/* warning message */
.warning-message {
    color: var(--warning-message-color);
    margin: var(--warning-message-margin);
    text-align: var(--warning-message-text-align);
    font-family: var(--warning-message-font-family);
    font-size: var(--warning-message-font-size);
}

.wrapper {
    display: var(--wrapper-display);
    padding: var(--wrapper-padding);
    margin-left: var(--wrapper-margin-left);
    margin-right: var(--wrapper-margin-right);
    flex-wrap: var(--wrapper-flex-wrap);
    align-items: var(--wrapper-align-items);
    justify-content: var(--wrapper-justify-content);
    background-color: var(--wrapper-background-color);
    max-width: var(--wrapper-max-width);
    text-align: var(--wrapper-text-align);
    border-radius: var(--wrapper-border-radius);
    margin-bottom: var(--wrapper-margin-bottom);
  }
  .wrapper > div {
    flex: var(--wrapper-div-flex);
  }

  .grid-box {
    width: var(--grid-box-width);
  }

  .grid-box:hover {
    opacity: var(--grid-box-hover-opacity);
  }

  #python-image {
    border-top-left-radius: 15px;
  }

  #java-image {
    border-top-right-radius: 15px;
  }

  #javascript-image {
    border-bottom-left-radius: 15px;
  }

  #free-games-image {
    border-bottom-right-radius: 15px;
  }








@media only screen and (max-width: 1065px) {
    #navbar {
        flex-direction: column;
        margin-bottom: 0px;
    }

    #nav-mobile {
        display: var(--navbar-display);
        flex-direction: column;
        --a-line-height: 50px;
        justify-content:var(--navbar-justify-content);
        background-color: var(--navbar-background-color);
        margin-bottom: var(--navbar-margin-bottom);
        box-shadow: 2px 1px 2px #111;
    }

    #nav-links {
        display: none;
    }

    #nav-links-mobile {
        display: none;
        flex-direction: column;
        font-family: var(--nav-links-font-family);
    }

    #nav-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

    a {
        width: 100%;
        justify-content: center;
        --a-padding-left: 0px;
        --a-padding-right: 0px;
    }
    
    #menu-button {
        display: flex;
        height: 50px;
        align-items: center;
        border-bottom: none;
    }

    .heading_h1 {
        font-size: 14px;
    }

    .warning-message {
        font-size: 17px;
    }

    /* posts */
    .post-image {
        width: 500px;
    }

    .wrapper {
        width:min-content
    }

    #python-image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    
    #java-image {
    border-top-right-radius: 0px;
    }

    #javascript-image {
    border-bottom-left-radius: 0px;
    }

    #free-games-image {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    }
    
  }


@media only screen and (max-width: 656px) {
    .heading_h1 {
        font-size: 12px;
    }

    /* posts */
    .post-image {
        width: 400px;
    }

    .grid-box {
        width: 410px;
    }

    .heading_h1 {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 464px) {
    .heading_h1 {
        font-size: 10px;
    }

    /* posts */
    .post-image {
        width: 300px;
    }

    .grid-box {
        width: 310px;
    }
}

@media only screen and (max-width: 350px) {
    .game-image {
        width: 230px;
        height: 90px;
    }

    .game {
        overflow: hidden;
        width: 230px;
    }

    #games_grid > .game {
        margin-right: 0px;
    }

    .game-title {
        width: 210px;
    }

    /* posts */
    .post-image {
        width: 220px;
    }

    .grid-box {
        width: 210px;
    }

    h2 {
        font-size: 0.9em;
    }
}